h1 {
  font-weight: 100;
}

.text-white {
  color: black;
}

.form-control {
  height: 45px;
}

.alert {
  margin-bottom: 0px;
  position: fixed;
  width: 100%;
  z-index: 10000;
}


.topic-index-wrapper {
  padding-top: 70px;
  background-color: #fafafa;
  .topic-index-single {
    background-color: #fff;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-top: 30px;
    border: 1px solid #e6ecf0;
    border-radius: 3px;
    .topic-author {
      padding-right: 20px;
      padding-left: 20px;
    }

    .topic-text {
      padding-right: 20px;
      padding-left: 20px;
    }

    img {
      margin-top: 10px;
      margin-bottom: 20px;
      width: 100%;
    }
  }
}

.topic-index-icon {
 font-size: 3em;
 margin-left: 10px;
 margin-bottom: 30px;
 color: #000;
}

.fas {
  color: red;
}
